{"openapi":"3.0.1","info":{"title":"DeutschFlow API","description":"DeutschFlow contract for student & auth endpoints (web W2 group + native iOS group).","version":"w2"},"servers":[{"url":"https://api.mydeutschflow.com","description":"Production"},{"url":"https://staging-api.mydeutschflow.com","description":"Staging (confirm host)"},{"url":"http://localhost:8080","description":"Local"}],"security":[{"bearerAuth":[]}],"paths":{"/api/xp/me/badges/ack":{"post":{"tags":["xp-controller"],"operationId":"acknowledgeBadges","responses":{"200":{"description":"OK"}}}},"/api/vocabulary/{wordId}/learn":{"post":{"tags":["vocabulary-controller"],"operationId":"markWordLearned","parameters":[{"name":"wordId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/vocabulary/ai/usage":{"post":{"tags":["ai-vocabulary-controller"],"operationId":"explainUsage","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/vocabulary/ai/story":{"post":{"tags":["ai-vocabulary-controller"],"operationId":"generateStory","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/vocabulary/ai/similar":{"post":{"tags":["ai-vocabulary-controller"],"operationId":"findSimilarWords","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/vocabulary/ai/quiz":{"post":{"tags":["ai-vocabulary-controller"],"operationId":"generateQuiz","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/vocabulary/ai/mnemonic":{"post":{"tags":["ai-vocabulary-controller"],"operationId":"generateMnemonic","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/vocabulary/ai/examples":{"post":{"tags":["ai-vocabulary-controller"],"operationId":"generateExamples","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/vocabulary/ai/etymology":{"post":{"tags":["ai-vocabulary-controller"],"operationId":"explainEtymology","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/srs/schedule":{"post":{"tags":["srs-controller"],"operationId":"scheduleVocab","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduleVocabRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/srs/schedule/batch":{"post":{"tags":["srs-controller"],"operationId":"scheduleVocabBatch","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ScheduleVocabRequest"}}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/srs/review":{"post":{"tags":["srs-controller"],"operationId":"recordReview","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReviewRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VocabReviewCard"}}}}}}},"/api/srs/review/batch":{"post":{"tags":["srs-controller"],"operationId":"recordReviewBatch","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ReviewRequest"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/VocabReviewCard"}}}}}}}},"/api/speaking/pronunciation-check":{"post":{"tags":["pronunciation-controller"],"operationId":"check","requestBody":{"content":{"application/json":{"schema":{"required":["audio","expectedText"],"type":"object","properties":{"audio":{"type":"string","format":"binary"},"expectedText":{"maxLength":500,"minLength":0,"type":"string"}}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PronunciationScore"}}}}}}},"/api/speaking/ai/scenario":{"post":{"tags":["ai-speaking-controller"],"operationId":"generateScenario","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScenarioRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PracticeScenario"}}}}}}},"/api/speaking/ai/roleplay":{"post":{"tags":["ai-speaking-controller"],"operationId":"generateRolePlay","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RolePlayRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/speaking/ai/feedback":{"post":{"tags":["ai-speaking-controller"],"operationId":"provideFeedback","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FeedbackRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SpeakingFeedback"}}}}}}},"/api/speaking/ai/error-practice":{"post":{"tags":["ai-speaking-controller"],"operationId":"generateErrorPractice","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorPracticeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/speaking/ai/cultural-context":{"post":{"tags":["ai-speaking-controller"],"operationId":"provideCulturalContext","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CulturalContextRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/speaking/ai/conversation":{"post":{"tags":["ai-speaking-controller"],"operationId":"generateConversation","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConversationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/roadmap/tree/node/{id}/complete":{"post":{"tags":["roadmap-tree-controller"],"operationId":"completeNode","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TreeDto"}}}}}}},"/api/roadmap/tree/level-up":{"post":{"tags":["roadmap-tree-controller"],"operationId":"levelUp","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TreeDto"}}}}}}},"/api/roadmap/setup":{"get":{"tags":["roadmap-setup-controller"],"operationId":"getSetup","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}},"post":{"tags":["roadmap-setup-controller"],"operationId":"createOrUpdateSetup","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoadmapSetupRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/profile/me/push-token":{"post":{"tags":["profile-controller"],"operationId":"savePushToken","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PushTokenRequest"}}},"required":true},"responses":{"204":{"description":"No Content"}}}},"/api/payments/stripe/webhook":{"post":{"tags":["stripe-payment-controller"],"operationId":"handleWebhook","parameters":[{"name":"Stripe-Signature","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"type":"string"}}}}}}},"/api/payments/stripe/create-session":{"post":{"tags":["stripe-payment-controller"],"operationId":"createSession","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateStripeSessionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateStripeSessionResponse"}}}}}}},"/api/payments/sepay/webhook":{"post":{"tags":["sepay-webhook-controller"],"operationId":"webhook","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SepayWebhookPayload"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/payments/momo/sync-order":{"post":{"tags":["momo-payment-controller"],"operationId":"syncOrder","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SyncMomoOrderRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SyncMomoOrderResponse"}}}}}}},"/api/payments/momo/ipn":{"post":{"tags":["momo-payment-controller"],"operationId":"handleIpn","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/payments/momo/create-order":{"post":{"tags":["momo-payment-controller"],"operationId":"createOrder","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateMomoOrderRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateMomoOrderResponse"}}}}}}},"/api/payments/apple/verify":{"post":{"tags":["apple-iap-controller"],"operationId":"verify","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppleVerifyRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/payments/apple/sync":{"post":{"tags":["apple-iap-controller"],"operationId":"sync","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppleSyncRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/payments/apple/notifications":{"post":{"tags":["apple-iap-controller"],"operationId":"notifications","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppleNotificationPayload"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/onboarding/upsell-interest":{"post":{"tags":["onboarding-controller"],"operationId":"upsellInterest","responses":{"204":{"description":"No Content"}}}},"/api/onboarding/profile":{"post":{"tags":["onboarding-controller"],"operationId":"saveProfile","parameters":[{"name":"X-Platform","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OnboardingProfileRequest"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LearningPlanResponse"}}}}}}},"/api/onboarding/mock-exam/sprechen-teil2/turn":{"post":{"tags":["ai-speaking-mock-exam-controller"],"operationId":"evaluateSprechenTeil2Turn","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/onboarding/mock-exam/evaluate":{"post":{"tags":["ai-speaking-mock-exam-controller"],"operationId":"evaluateMockExam","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/notifications/{id}/read":{"post":{"tags":["user-notification-controller"],"operationId":"markRead","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MarkNotificationsReadResponse"}}}}}}},"/api/notifications/teacher/announce":{"post":{"tags":["user-notification-controller"],"operationId":"announce","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeacherAnnounceRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/notifications/read-all":{"post":{"tags":["user-notification-controller"],"operationId":"markAllRead","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MarkNotificationsReadResponse"}}}}}}},"/api/mock-exams/{examId}/start":{"post":{"tags":["mock-exam-controller"],"operationId":"startExam","parameters":[{"name":"examId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExamStartDto"}}}}}}},"/api/mock-exams/attempts/{attemptId}/finish":{"post":{"tags":["mock-exam-controller"],"operationId":"finishExam","parameters":[{"name":"attemptId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExamFinishAcceptedDto"}}}}}}},"/api/grammar/validate":{"post":{"tags":["grammar-controller"],"operationId":"validate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GrammarValidateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GrammarValidateResponse"}}}}}}},"/api/grammar/syllabus/topics/{topicId}/submit-all-review":{"post":{"tags":["grammar-syllabus-controller"],"operationId":"submitAllForReview","parameters":[{"name":"topicId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/grammar/syllabus/topics/{topicId}/generate":{"post":{"tags":["grammar-syllabus-controller"],"operationId":"generateExercises","parameters":[{"name":"topicId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"integer","format":"int32"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GrammarGeneratedExerciseDto"}}}}}}}},"/api/grammar/syllabus/exercises/{exerciseId}/submit":{"post":{"tags":["grammar-syllabus-controller"],"operationId":"submitAnswer","parameters":[{"name":"exerciseId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GrammarSubmitResultDto"}}}}}}},"/api/grammar/syllabus/exercises/{exerciseId}/submit-review":{"post":{"tags":["grammar-syllabus-controller"],"operationId":"submitForReview","parameters":[{"name":"exerciseId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/grammar/syllabus/admin/exercises/{exerciseId}/reject":{"post":{"tags":["grammar-syllabus-controller"],"operationId":"rejectExercise","parameters":[{"name":"exerciseId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/grammar/syllabus/admin/exercises/{exerciseId}/approve":{"post":{"tags":["grammar-syllabus-controller"],"operationId":"approveExercise","parameters":[{"name":"exerciseId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/grammar/syllabus/admin/exercises/bulk-approve":{"post":{"tags":["grammar-syllabus-controller"],"operationId":"bulkApprove","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"array","items":{"type":"integer","format":"int64"}}}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/grammar/ai/practice-suggestions":{"post":{"tags":["ai-grammar-controller"],"operationId":"suggestPractice","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/grammar/ai/explain":{"post":{"tags":["ai-grammar-controller"],"operationId":"explainGrammar","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/grammar/ai/correct":{"post":{"tags":["ai-grammar-controller"],"operationId":"correctGrammar","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GrammarCorrectionResult"}}}}}}},"/api/grammar/ai/analyze":{"post":{"tags":["ai-grammar-controller"],"operationId":"analyzeGrammar","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GrammarAnalysisResult"}}}}}}},"/api/certificates/claim":{"post":{"tags":["certificate-controller"],"operationId":"claimCertificate","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CertificateClaimDto"}}}}}}},"/api/auth/reset-password":{"post":{"tags":["auth-controller"],"operationId":"resetPassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResetPasswordRequest"}}},"required":true},"responses":{"204":{"description":"No Content"}}}},"/api/auth/register":{"post":{"tags":["auth-controller"],"operationId":"register","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterRequest"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthResponse"}}}}}}},"/api/auth/refresh":{"post":{"tags":["auth-controller"],"operationId":"refresh","parameters":[{"name":"refresh_token","in":"cookie","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefreshRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthResponse"}}}}}}},"/api/auth/logout":{"post":{"tags":["auth-controller"],"operationId":"logout","responses":{"204":{"description":"No Content"}}}},"/api/auth/login":{"post":{"tags":["auth-controller"],"operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthResponse"}}}}}}},"/api/auth/forgot-password":{"post":{"tags":["auth-controller"],"operationId":"forgotPassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForgotPasswordRequest"}}},"required":true},"responses":{"204":{"description":"No Content"}}}},"/api/assessment/b1/mock-exam":{"post":{"tags":["assessment-controller"],"operationId":"recordMockExamResult","parameters":[{"name":"passed","in":"query","required":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/B1ReadinessResponse"}}}}}}},"/api/assessment/b1/evaluate":{"post":{"tags":["assessment-controller"],"operationId":"evaluate","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/B1ReadinessResponse"}}}}}}},"/api/ai-speaking/weekly/submissions":{"post":{"tags":["weekly-speaking-controller"],"operationId":"submit","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WeeklySubmissionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WeeklySubmissionResponse"}}}}}}},"/api/ai-speaking/tts":{"post":{"tags":["tts-controller"],"operationId":"synthesize","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}}}}},"/api/ai-speaking/transcribe":{"post":{"tags":["ai-session-controller"],"operationId":"transcribe","requestBody":{"content":{"application/json":{"schema":{"required":["audio"],"type":"object","properties":{"audio":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/ai-speaking/sessions":{"get":{"tags":["ai-session-controller"],"operationId":"getSessions","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageAiSpeakingSessionDto"}}}}}},"post":{"tags":["ai-session-controller"],"operationId":"createSession_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSessionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AiSpeakingSessionDto"}}}}}}},"/api/ai-speaking/sessions/{id}/chat":{"post":{"tags":["ai-session-controller"],"operationId":"chat","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AiSpeakingChatRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AiSpeakingChatResponse"}}}}}}},"/api/ai-speaking/sessions/{id}/chat/stream":{"post":{"tags":["ai-session-controller"],"operationId":"chatStream","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AiSpeakingChatRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SseEmitter"}}}}}}},"/api/ai-speaking/greeting-session":{"post":{"tags":["speaking-controller"],"operationId":"createGreetingSession","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateGreetingSessionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GreetingSessionDto"}}}}}}},"/api/ai-speaking/greeting-session/{sessionId}/submit-response":{"post":{"tags":["speaking-controller"],"operationId":"submitResponse","parameters":[{"name":"sessionId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmitResponseRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GreetingSessionDto"}}}}}}},"/api/ability/score":{"post":{"tags":["ability-score-controller"],"operationId":"score","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AbilityScoreRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AbilityScoreResponse"}}}}}}},"/api/profile/me":{"delete":{"tags":["profile-controller"],"operationId":"deleteAccount","responses":{"204":{"description":"No Content"}}},"patch":{"tags":["profile-controller"],"operationId":"updateProfile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateProfileRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthResponse"}}}}}}},"/api/profile/me/password":{"patch":{"tags":["profile-controller"],"operationId":"changePassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangePasswordRequest"}}},"required":true},"responses":{"204":{"description":"No Content"}}}},"/api/profile/me/learning":{"get":{"tags":["profile-controller"],"operationId":"getLearningProfile","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LearningProfileResponse"}}}}}},"patch":{"tags":["profile-controller"],"operationId":"updateLearningProfile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateLearningProfileRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LearningProfileResponse"}}}}}}},"/api/auth/me/locale":{"patch":{"tags":["auth-controller"],"operationId":"patchLocale","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateLocaleRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthResponse"}}}}}}},"/api/ai-speaking/sessions/{id}/end":{"patch":{"tags":["ai-session-controller"],"operationId":"endSession","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AiSpeakingSessionDto"}}}}}}},"/api/xp/me":{"get":{"tags":["xp-controller"],"operationId":"getSummary","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/XpSummaryDto"}}}}}}},"/api/xp/leaderboard":{"get":{"tags":["xp-controller"],"operationId":"leaderboard","parameters":[{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LeaderboardDto"}}}}}}}},"/api/words":{"get":{"tags":["word-controller"],"operationId":"list","parameters":[{"name":"cefr","in":"query","required":false,"schema":{"type":"string"}},{"name":"q","in":"query","required":false,"schema":{"type":"string"}},{"name":"topic","in":"query","required":false,"schema":{"type":"string"}},{"name":"focus","in":"query","required":false,"schema":{"type":"string"}},{"name":"tag","in":"query","required":false,"schema":{"type":"string"}},{"name":"dtype","in":"query","required":false,"schema":{"type":"string"}},{"name":"gender","in":"query","required":false,"schema":{"type":"string"}},{"name":"locale","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WordListResponse"}}}}}}},"/api/words/coverage":{"get":{"tags":["word-controller"],"operationId":"coverage","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WordCoverageResponse"}}}}}}},"/api/words/coverage/translation":{"get":{"tags":["word-controller"],"operationId":"translationCoverage","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WordTranslationCoverageResponse"}}}}}}},"/api/words/coverage/translation/history":{"get":{"tags":["word-controller"],"operationId":"translationCoverageHistory","parameters":[{"name":"days","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":30}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WordTranslationCoverageHistoryResponse"}}}}}}},"/api/words/coverage/history":{"get":{"tags":["word-controller"],"operationId":"coverageHistory","parameters":[{"name":"days","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":30}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WordCoverageHistoryResponse"}}}}}}},"/api/vocabulary/{wordId}":{"get":{"tags":["vocabulary-controller"],"operationId":"getWordById","parameters":[{"name":"wordId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WordDto"}}}}}}},"/api/vocabulary/{wordId}/grammar-context":{"get":{"tags":["vocabulary-controller"],"operationId":"getGrammarContext","parameters":[{"name":"wordId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GrammarContextDto"}}}}}}},"/api/vocabulary/words":{"get":{"tags":["vocabulary-controller"],"operationId":"getWordsByCefr","parameters":[{"name":"cefrLevel","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/WordDto"}}}}}}}},"/api/today/me":{"get":{"tags":["today-controller"],"operationId":"me","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TodayPlanDto"}}}}}}},"/api/tags":{"get":{"tags":["tag-controller"],"operationId":"list_1","parameters":[{"name":"locale","in":"query","required":false,"schema":{"type":"string","default":"de"}},{"name":"topicsOnly","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TagItem"}}}}}}}},"/api/student/stats":{"get":{"tags":["student-dashboard-controller"],"operationId":"stats","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StudentStatsResponse"}}}}}}},"/api/student/dashboard":{"get":{"tags":["student-dashboard-controller"],"operationId":"dashboard","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StudentDashboardResponse"}}}}}}},"/api/srs/stats":{"get":{"tags":["srs-controller"],"operationId":"getStats","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SrsStatsDto"}}}}}}},"/api/srs/due":{"get":{"tags":["srs-controller"],"operationId":"getDueCards","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/VocabReviewCard"}}}}}}}},"/api/srs/count":{"get":{"tags":["srs-controller"],"operationId":"getDueCount","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SrsDueCountDto"}}}}}}},"/api/speaking/beginner/templates":{"get":{"tags":["beginner-speaking-controller"],"operationId":"getAllBeginnerTemplates","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BeginnerSpeakingResponse"}}}}}}}},"/api/speaking/beginner/day1":{"get":{"tags":["beginner-speaking-controller"],"operationId":"getDay1Prompt","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BeginnerSpeakingResponse"}}}}}}},"/api/roadmap/tree":{"get":{"tags":["roadmap-tree-controller"],"operationId":"getTree","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TreeDto"}}}}}}},"/api/roadmap/tree/node/{id}":{"get":{"tags":["roadmap-tree-controller"],"operationId":"getNode","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TreeNodeLessonDto"}}}}}}},"/api/roadmap/me":{"get":{"tags":["roadmap-controller"],"operationId":"getMyRoadmap","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RoadmapNodeDto"}}}}}}}},"/api/roadmap/me/meta":{"get":{"tags":["roadmap-controller"],"operationId":"getMyRoadmapMeta","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/progress/me/overview":{"get":{"tags":["progress-controller"],"operationId":"getOverview","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProgressOverviewDto"}}}}}}},"/api/phase/next-action":{"get":{"tags":["phase-controller"],"operationId":"getNextActions","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NextActionResponse"}}}}}}},"/api/phase/current":{"get":{"tags":["phase-controller"],"operationId":"getCurrentPhase","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PhaseStateResponse"}}}}}}},"/api/payments/apple/products":{"get":{"tags":["apple-iap-controller"],"operationId":"products","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AppleProductResponse"}}}}}}}},"/api/payments/apple/account-token":{"get":{"tags":["apple-iap-controller"],"operationId":"accountToken","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AppleAccountTokenResponse"}}}}}}},"/api/onboarding/status":{"get":{"tags":["onboarding-controller"],"operationId":"status","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StatusResponse"}}}}}}},"/api/onboarding/route":{"get":{"tags":["onboarding-controller"],"operationId":"route","parameters":[{"name":"currentLevel","in":"query","required":false,"schema":{"type":"string"}},{"name":"platform","in":"query","required":false,"schema":{"type":"string"}},{"name":"X-Platform","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OnboardingRouteResponse"}}}}}}},"/api/onboarding/preview/mentor":{"get":{"tags":["onboarding-preview-controller"],"operationId":"mentor","parameters":[{"name":"goalType","in":"query","required":false,"schema":{"type":"string"}},{"name":"industry","in":"query","required":false,"schema":{"type":"string"}},{"name":"currentLevel","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OnboardingMentorResponse"}}}}}}},"/api/onboarding/placement-tests/latest":{"get":{"tags":["ai-speaking-mock-exam-controller"],"operationId":"getLatestPlacementTest","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/onboarding/mock-exam/sprechen-teil2/card":{"get":{"tags":["ai-speaking-mock-exam-controller"],"operationId":"getRandomCard","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SprechenCard"}}}}}}},"/api/onboarding/mentor":{"get":{"tags":["onboarding-controller"],"operationId":"mentor_1","parameters":[{"name":"goalType","in":"query","required":false,"schema":{"type":"string"}},{"name":"industry","in":"query","required":false,"schema":{"type":"string"}},{"name":"currentLevel","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OnboardingMentorResponse"}}}}}}},"/api/onboarding/me/profile":{"get":{"tags":["onboarding-controller"],"operationId":"getMyLearningProfile","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LearningProfileResponse"}}}}}}},"/api/notifications":{"get":{"tags":["user-notification-controller"],"operationId":"list_2","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"unreadOnly","in":"query","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NotificationPageResponse"}}}}}}},"/api/notifications/unread-count":{"get":{"tags":["user-notification-controller"],"operationId":"unreadCount","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NotificationUnreadCountResponse"}}}}}}},"/api/notifications/stream":{"get":{"tags":["user-notification-controller"],"operationId":"stream","responses":{"200":{"description":"OK","content":{"text/event-stream":{"schema":{"$ref":"#/components/schemas/SseEmitter"}}}}}}},"/api/mock-exams":{"get":{"tags":["mock-exam-controller"],"operationId":"listExams","parameters":[{"name":"cefrLevel","in":"query","required":false,"schema":{"type":"string","default":"A1"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExamSummaryDto"}}}}}}}},"/api/mock-exams/{examId}/questions":{"get":{"tags":["mock-exam-controller"],"operationId":"getExamQuestions","parameters":[{"name":"examId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExamQuestionsDto"}}}}}}},"/api/mock-exams/recommend":{"get":{"tags":["mock-exam-controller"],"operationId":"recommendExam","parameters":[{"name":"cefrLevel","in":"query","required":false,"schema":{"type":"string","default":"A1"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExamRecommendationDto"}}}}}}},"/api/mock-exams/packs":{"get":{"tags":["mock-exam-pack-controller"],"operationId":"listPacks","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MockExamPackDto"}}}}}}}},"/api/mock-exams/packs/{packId}":{"get":{"tags":["mock-exam-pack-controller"],"operationId":"getPack","parameters":[{"name":"packId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MockExamPackDetailDto"}}}}}}},"/api/mock-exams/coverage":{"get":{"tags":["mock-exam-controller"],"operationId":"examCoverage","parameters":[{"name":"cefrLevel","in":"query","required":false,"schema":{"type":"string","default":"A1"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExamCoverageDto"}}}}}}},"/api/mock-exams/attempts/{attemptId}/review":{"get":{"tags":["mock-exam-controller"],"operationId":"getAttemptReview","parameters":[{"name":"attemptId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExamReviewDto"}}}}}}},"/api/mock-exams/attempts/{attemptId}/result":{"get":{"tags":["mock-exam-controller"],"operationId":"getResult","parameters":[{"name":"attemptId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExamResultDto"}}}}}}},"/api/mock-exams/attempts/me":{"get":{"tags":["mock-exam-controller"],"operationId":"myAttempts","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExamAttemptDto"}}}}}}}},"/api/grammar/syllabus/topics":{"get":{"tags":["grammar-syllabus-controller"],"operationId":"getTopics","parameters":[{"name":"cefrLevel","in":"query","required":false,"schema":{"type":"string","default":"A1"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GrammarTopicDto"}}}}}}}},"/api/grammar/syllabus/topics/{topicId}/exercises":{"get":{"tags":["grammar-syllabus-controller"],"operationId":"getExercises","parameters":[{"name":"topicId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GrammarExerciseDto"}}}}}}}},"/api/grammar/syllabus/exercises/my-drafts":{"get":{"tags":["grammar-syllabus-controller"],"operationId":"getMyDrafts","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GrammarDraftDto"}}}}}}}},"/api/grammar/syllabus/admin/pending":{"get":{"tags":["grammar-syllabus-controller"],"operationId":"getPendingReview","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GrammarPendingReviewDto"}}}}}}}},"/api/curriculum/netzwerk-neu/a1":{"get":{"tags":["curriculum-controller"],"operationId":"netzwerkNeuA1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CurriculumCourse"}}}}}}},"/api/certificates/{id}/pdf":{"get":{"tags":["certificate-controller"],"operationId":"downloadPdf","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/pdf":{"schema":{"type":"string","format":"binary"}}}}}}},"/api/certificates/me":{"get":{"tags":["certificate-controller"],"operationId":"getMyCertificates","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CertificateDto"}}}}}}}},"/api/auth/me":{"get":{"tags":["auth-controller"],"operationId":"me_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthResponse"}}}}}}},"/api/auth/me/plan":{"get":{"tags":["auth-me-plan-controller"],"operationId":"plan","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MyPlanResponse"}}}}}}},"/api/assessment/b1/readiness":{"get":{"tags":["assessment-controller"],"operationId":"getReadiness","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/B1ReadinessResponse"}}}}}}},"/api/ai-speaking/weekly/me/submissions":{"get":{"tags":["weekly-speaking-controller"],"operationId":"listMySubmissions","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageWeeklySubmissionListItem"}}}}}}},"/api/ai-speaking/weekly/me/submissions/{id}":{"get":{"tags":["weekly-speaking-controller"],"operationId":"getMySubmission","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WeeklySubmissionDetailDto"}}}}}}},"/api/ai-speaking/weekly/current-prompt":{"get":{"tags":["weekly-speaking-controller"],"operationId":"getCurrentPrompt","parameters":[{"name":"cefrBand","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WeeklyPromptResponse"}}}}}}},"/api/ai-speaking/tts/status":{"get":{"tags":["tts-controller"],"operationId":"status_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/ai-speaking/sessions/{id}/report":{"get":{"tags":["ai-session-controller"],"operationId":"getConversationReport","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ConversationReportDto"}}}}}}},"/api/ai-speaking/sessions/{id}/messages":{"get":{"tags":["ai-session-controller"],"operationId":"getMessages","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AiSpeakingMessageDto"}}}}}}}},"/api/ai-speaking/quota":{"get":{"tags":["ai-session-controller"],"operationId":"quota","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AiSpeakingQuotaDto"}}}}}}},"/api/ai-speaking/greeting-session/{sessionId}":{"get":{"tags":["speaking-controller"],"operationId":"getGreetingSession","parameters":[{"name":"sessionId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GreetingSessionDto"}}}}}}},"/api/achievements/me":{"get":{"tags":["achievement-controller"],"operationId":"getMyAchievements","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AchievementDto"}}}}}}}}},"components":{"schemas":{"ScheduleVocabRequest":{"required":["vocabId"],"type":"object","properties":{"nodeId":{"type":"integer","format":"int64"},"vocabId":{"type":"string"},"german":{"type":"string"},"meaning":{"type":"string"},"exampleDe":{"type":"string"},"speakDe":{"type":"string"}}},"ReviewRequest":{"required":["vocabId"],"type":"object","properties":{"vocabId":{"type":"string"},"quality":{"maximum":5,"minimum":0,"type":"integer","format":"int32"}}},"VocabReviewCard":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"vocabId":{"type":"string"},"german":{"type":"string"},"meaning":{"type":"string"},"exampleDe":{"type":"string"},"speakDe":{"type":"string"},"repetitions":{"type":"integer","format":"int32"},"nextReviewAt":{"type":"string","format":"date-time"}}},"PronunciationScore":{"type":"object","properties":{"transcribedText":{"type":"string"},"overallScore":{"type":"integer","format":"int32"},"avgLogprob":{"type":"number","format":"double"},"words":{"type":"array","items":{"$ref":"#/components/schemas/WordResult"}}}},"WordResult":{"type":"object","properties":{"expected":{"type":"string"},"transcribed":{"type":"string"},"verdict":{"type":"string"},"score":{"type":"integer","format":"int32"}}},"ScenarioRequest":{"required":["topic"],"type":"object","properties":{"topic":{"maxLength":2000,"minLength":0,"type":"string"},"level":{"maxLength":8,"minLength":0,"type":"string"}}},"PracticeScenario":{"type":"object","properties":{"topic":{"type":"string"},"level":{"type":"string"},"scenarioDescription":{"type":"string"},"followUpQuestions":{"type":"string"}}},"RolePlayRequest":{"required":["situation"],"type":"object","properties":{"situation":{"maxLength":2000,"minLength":0,"type":"string"},"userRole":{"maxLength":200,"minLength":0,"type":"string"},"aiRole":{"maxLength":200,"minLength":0,"type":"string"}}},"FeedbackRequest":{"required":["text"],"type":"object","properties":{"text":{"maxLength":4000,"minLength":0,"type":"string"},"topic":{"maxLength":2000,"minLength":0,"type":"string"}}},"SpeakingFeedback":{"type":"object","properties":{"originalText":{"type":"string"},"correctedText":{"type":"string"},"pronunciationTips":{"type":"string"},"improvements":{"type":"string"},"fluencyScore":{"type":"integer","format":"int32"},"hasErrors":{"type":"boolean"}}},"ErrorPracticeRequest":{"required":["errorType"],"type":"object","properties":{"errorType":{"maxLength":2000,"minLength":0,"type":"string"},"exerciseCount":{"minimum":1,"type":"integer","format":"int32"}}},"CulturalContextRequest":{"required":["topic"],"type":"object","properties":{"topic":{"maxLength":2000,"minLength":0,"type":"string"}}},"ConversationRequest":{"required":["message"],"type":"object","properties":{"message":{"maxLength":4000,"minLength":0,"type":"string"},"context":{"maxLength":2000,"minLength":0,"type":"string"},"level":{"maxLength":8,"minLength":0,"type":"string"}}},"TreeBranchDto":{"type":"object","properties":{"skill":{"type":"string"},"label":{"type":"string"},"status":{"type":"string"},"nodeCap":{"type":"integer","format":"int32"},"shoots":{"type":"array","items":{"$ref":"#/components/schemas/TreeShootDto"}}}},"TreeDto":{"type":"object","properties":{"user":{"$ref":"#/components/schemas/TreeUserDto"},"path":{"type":"array","items":{"$ref":"#/components/schemas/TreeLevelDto"}}}},"TreeLevelDto":{"type":"object","properties":{"level":{"type":"string"},"status":{"type":"string"},"milestone":{"$ref":"#/components/schemas/TreeMilestoneDto"},"branches":{"type":"array","items":{"$ref":"#/components/schemas/TreeBranchDto"}}}},"TreeMilestoneDto":{"type":"object","properties":{"id":{"type":"string"},"title":{"type":"string"},"state":{"type":"string"},"passedAt":{"type":"string"},"unlocksWhen":{"type":"string"}}},"TreeNodeDto":{"type":"object","properties":{"id":{"type":"string"},"title":{"type":"string"},"state":{"type":"string"}}},"TreeShootDto":{"type":"object","properties":{"topicId":{"type":"string"},"topicLabel":{"type":"string"},"topicGroup":{"type":"string"},"unlockOrder":{"type":"integer","format":"int32"},"chosenByUser":{"type":"boolean"},"nodes":{"type":"array","items":{"$ref":"#/components/schemas/TreeNodeDto"}}}},"TreeUserDto":{"type":"object","properties":{"id":{"type":"string"},"displayName":{"type":"string"},"track":{"type":"string"},"goal":{"type":"string"},"currentLevel":{"type":"string"},"startedAt":{"type":"string"}}},"RoadmapSetupRequest":{"type":"object","properties":{"goalType":{"type":"string"},"currentLevel":{"type":"string"},"targetLevel":{"type":"string"},"sessionsPerWeek":{"type":"integer","format":"int32"},"minutesPerSession":{"type":"integer","format":"int32"},"learningSpeed":{"type":"string"},"industry":{"type":"string"},"focusAreas":{"type":"array","items":{"type":"string"}},"examType":{"type":"string"}}},"PushTokenRequest":{"required":["token"],"type":"object","properties":{"token":{"type":"string"},"platform":{"pattern":"ios|android","type":"string"}}},"CreateStripeSessionRequest":{"type":"object","properties":{"planCode":{"type":"string"}}},"CreateStripeSessionResponse":{"type":"object","properties":{"sessionId":{"type":"string"},"url":{"type":"string"}}},"SepayWebhookPayload":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"gateway":{"type":"string"},"transactionDate":{"type":"string"},"accountNumber":{"type":"string"},"code":{"type":"string"},"content":{"type":"string"},"transferType":{"type":"string"},"transferAmount":{"type":"integer","format":"int64"},"accumulated":{"type":"integer","format":"int64"},"subAccount":{"type":"string"},"referenceCode":{"type":"string"},"description":{"type":"string"}}},"SyncMomoOrderRequest":{"required":["orderId"],"type":"object","properties":{"orderId":{"type":"string"}}},"SyncMomoOrderResponse":{"type":"object","properties":{"status":{"type":"string"},"orderId":{"type":"string"},"momoResultCode":{"type":"integer","format":"int32"},"message":{"type":"string"}}},"CreateMomoOrderRequest":{"required":["planCode"],"type":"object","properties":{"planCode":{"type":"string"},"durationMonths":{"minimum":1,"type":"integer","format":"int32"}}},"CreateMomoOrderResponse":{"type":"object","properties":{"payUrl":{"type":"string"},"orderId":{"type":"string"},"amount":{"type":"integer","format":"int64"},"planCode":{"type":"string"}}},"AppleVerifyRequest":{"type":"object","properties":{"jws":{"type":"string"}}},"AppleSyncRequest":{"type":"object","properties":{"jws":{"type":"array","items":{"type":"string"}}}},"AppleNotificationPayload":{"type":"object","properties":{"signedPayload":{"type":"string"}}},"OnboardingProfileRequest":{"required":["goalType","targetLevel"],"type":"object","properties":{"goalType":{"type":"string"},"targetLevel":{"type":"string"},"currentLevel":{"type":"string"},"ageRange":{"type":"string"},"interests":{"type":"array","items":{"type":"string"}},"industry":{"maxLength":100,"minLength":0,"type":"string"},"workUseCases":{"type":"array","items":{"type":"string"}},"examType":{"maxLength":50,"minLength":0,"type":"string"},"sessionsPerWeek":{"maximum":14,"minimum":1,"type":"integer","format":"int32"},"minutesPerSession":{"maximum":180,"minimum":5,"type":"integer","format":"int32"},"learningSpeed":{"type":"string"},"motivation":{"type":"string"},"dailyGoalMinutes":{"maximum":120,"minimum":5,"type":"integer","format":"int32"}}},"LearningPlanResponse":{"type":"object","properties":{"weeklyMinutes":{"type":"integer","format":"int32"},"weeksTotal":{"type":"integer","format":"int32"},"sessionsPerWeek":{"type":"integer","format":"int32"},"minutesPerSession":{"type":"integer","format":"int32"},"plan":{"type":"object","additionalProperties":{"type":"object"}}}},"MarkNotificationsReadResponse":{"type":"object","properties":{"rowsUpdated":{"type":"integer","format":"int32"}}},"TeacherAnnounceRequest":{"required":["classId","message"],"type":"object","properties":{"classId":{"type":"integer","format":"int64"},"message":{"type":"string"}}},"ExamStartDto":{"type":"object","properties":{"exam_id":{"type":"integer","format":"int64"},"started_at":{"type":"string","format":"date-time"},"sections_json":{"type":"string"},"time_limit_minutes":{"type":"integer","format":"int32"},"id":{"type":"integer","format":"int64"},"status":{"type":"string"}}},"ExamFinishAcceptedDto":{"type":"object","properties":{"jobId":{"type":"string"},"status":{"type":"string"},"attemptId":{"type":"integer","format":"int64"}}},"GrammarValidateRequest":{"required":["answer","expected"],"type":"object","properties":{"answer":{"type":"string"},"expected":{"type":"string"},"joiner":{"type":"string"},"sessionType":{"type":"string"},"level":{"type":"string"}}},"GrammarValidateResponse":{"type":"object","properties":{"valid":{"type":"boolean"},"scorePercent":{"type":"integer","format":"int32"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ValidationError"}}}},"ValidationError":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"position":{"type":"integer","format":"int32"},"expectedToken":{"type":"string"},"actualToken":{"type":"string"}}},"GrammarGeneratedExerciseDto":{"type":"object","properties":{"exercise_type":{"type":"string"},"question_json":{"type":"string"},"id":{"type":"integer","format":"int64"},"difficulty":{"type":"integer","format":"int32"},"status":{"type":"string"}}},"GrammarSubmitResultDto":{"type":"object","properties":{"correct":{"type":"boolean"},"correctAnswer":{"type":"string"},"explanation":{"type":"string"}}},"GrammarCorrectionResult":{"type":"object","properties":{"originalText":{"type":"string"},"correctedText":{"type":"string"},"explanation":{"type":"string"},"hasErrors":{"type":"boolean"}}},"GrammarAnalysisResult":{"type":"object","properties":{"originalText":{"type":"string"},"correctedText":{"type":"string"},"explanation":{"type":"string"},"errorTypes":{"type":"string"},"severity":{"type":"string"},"hasErrors":{"type":"boolean"}}},"CertificateClaimDto":{"type":"object","properties":{"certificate_code":{"type":"string"},"cefr_level":{"type":"string"},"issued_at":{"type":"string","format":"date-time"},"exam_score":{"type":"integer","format":"int32"},"id":{"type":"integer","format":"int64"},"alreadyHas":{"type":"boolean"},"justIssued":{"type":"boolean"},"error":{"type":"string"},"requirement":{"type":"string"}}},"ResetPasswordRequest":{"required":["code","email","newPassword"],"type":"object","properties":{"email":{"type":"string"},"code":{"maxLength":6,"minLength":6,"type":"string"},"newPassword":{"type":"string"}}},"RegisterRequest":{"required":["displayName","email","password","phoneNumber"],"type":"object","properties":{"email":{"type":"string"},"phoneNumber":{"pattern":"^0[35789]\\d{8}$","type":"string"},"password":{"maxLength":100,"minLength":6,"type":"string"},"displayName":{"maxLength":100,"minLength":2,"type":"string"},"locale":{"pattern":"^(vi|en|de)$","type":"string"}}},"AuthResponse":{"type":"object","properties":{"accessToken":{"type":"string"},"refreshToken":{"type":"string"},"userId":{"type":"integer","format":"int64"},"email":{"type":"string"},"displayName":{"type":"string"},"role":{"type":"string"},"locale":{"type":"string"},"learningTargetLevel":{"type":"string"},"industry":{"type":"string"},"orgId":{"type":"integer","format":"int64"},"orgRole":{"type":"string"}}},"RefreshRequest":{"type":"object","properties":{"refreshToken":{"type":"string"}}},"LoginRequest":{"required":["email","password"],"type":"object","properties":{"email":{"type":"string"},"password":{"type":"string"}}},"ForgotPasswordRequest":{"required":["email"],"type":"object","properties":{"email":{"type":"string"}}},"B1ReadinessResponse":{"type":"object","properties":{"vocabularyCheckPassed":{"type":"boolean"},"speakingCheckPassed":{"type":"boolean"},"grammarCheckPassed":{"type":"boolean"},"confidenceCheckPassed":{"type":"boolean"},"mockExamPassed":{"type":"boolean"},"readinessScore":{"type":"integer","format":"int32"},"fullyReady":{"type":"boolean"},"lastAssessmentAt":{"type":"string","format":"date-time"},"graduationConfirmedAt":{"type":"string","format":"date-time"}}},"WeeklySubmissionRequest":{"required":["transcript"],"type":"object","properties":{"promptId":{"type":"integer","format":"int64"},"transcript":{"maxLength":120000,"minLength":0,"type":"string"},"audioDurationSec":{"type":"number"},"cefrBand":{"type":"string"}}},"Fluency":{"type":"object","properties":{"subjective_notes_de":{"type":"string"},"filler_approx_count":{"type":"integer","format":"int32"},"wpm_approx":{"type":"integer","format":"int32"},"confidence_label":{"type":"string"}}},"Grammar":{"type":"object","properties":{"summary_de":{"type":"string"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/WeeklyGrammarErrorHint"}}}},"Lexis":{"type":"object","properties":{"richness_notes_de":{"type":"array","items":{"type":"string"}},"replacements_suggested_de_vi":{"type":"array","items":{"$ref":"#/components/schemas/ReplacementSuggestion"}}}},"ReplacementSuggestion":{"type":"object","properties":{"from_de":{"type":"string"},"to_de_suggestion":{"type":"string"},"note_vi":{"type":"string"}}},"TaskCompletion":{"type":"object","properties":{"score_1_to_5":{"type":"integer","format":"int32"},"covered_mandatory_indices":{"type":"array","items":{"type":"integer","format":"int32"}},"missing_mandatory_indices":{"type":"array","items":{"type":"integer","format":"int32"}},"off_topic":{"type":"boolean"},"ambiguous":{"type":"boolean"}}},"WeeklyGrammarErrorHint":{"type":"object","properties":{"error_code":{"type":"string"},"severity":{"type":"string"},"confidence":{"type":"number","format":"double"},"wrong_span":{"type":"string"},"corrected_span":{"type":"string"},"rule_vi_short":{"type":"string"}}},"WeeklyRubricView":{"type":"object","properties":{"task_completion":{"$ref":"#/components/schemas/TaskCompletion"},"fluency":{"$ref":"#/components/schemas/Fluency"},"lexis":{"$ref":"#/components/schemas/Lexis"},"grammar":{"$ref":"#/components/schemas/Grammar"},"feedback_vi_summary":{"type":"string"},"disclaimer_vi":{"type":"string"}}},"WeeklySubmissionResponse":{"type":"object","properties":{"submissionId":{"type":"integer","format":"int64"},"promptId":{"type":"integer","format":"int64"},"rubric":{"$ref":"#/components/schemas/WeeklyRubricView"},"mergedIntoWeeklyReport":{"type":"boolean"}}},"CreateSessionRequest":{"type":"object","properties":{"topic":{"maxLength":200,"minLength":0,"type":"string"},"cefrLevel":{"maxLength":8,"minLength":0,"type":"string"},"persona":{"maxLength":32,"minLength":0,"type":"string"},"responseSchema":{"maxLength":8,"minLength":0,"type":"string"},"sessionMode":{"maxLength":20,"minLength":0,"type":"string"},"interviewPosition":{"maxLength":100,"minLength":0,"type":"string"},"experienceLevel":{"maxLength":20,"minLength":0,"type":"string"},"assignmentId":{"type":"integer","format":"int64"}}},"AdaptiveMetaDto":{"type":"object","properties":{"enabled":{"type":"boolean"},"cefrEffective":{"type":"string"},"difficultyKnob":{"type":"integer","format":"int32"},"focusCodes":{"type":"array","items":{"type":"string"}},"targetStructures":{"type":"array","items":{"type":"string"}},"topicSuggestion":{"type":"string"},"forceRepairBeforeContinue":{"type":"boolean"},"primaryRepairErrorCode":{"type":"string"}}},"AiSpeakingChatResponse":{"type":"object","properties":{"messageId":{"type":"integer","format":"int64"},"sessionId":{"type":"integer","format":"int64"},"aiSpeechDe":{"type":"string"},"correction":{"type":"string"},"explanationVi":{"type":"string"},"grammarPoint":{"type":"string"},"learningStatus":{"$ref":"#/components/schemas/LearningStatus"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ErrorItemDto"}},"adaptive":{"$ref":"#/components/schemas/AdaptiveMetaDto"},"status":{"type":"string"},"similarityScore":{"type":"number","format":"double"},"feedback":{"type":"string"},"suggestions":{"type":"array","items":{"$ref":"#/components/schemas/SuggestionDto"}},"responseSchema":{"type":"string"},"action":{"type":"string"},"isSessionEnded":{"type":"boolean"},"interviewPhaseKey":{"type":"string"},"interviewHintKey":{"type":"string"}}},"AiSpeakingSessionDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"topic":{"type":"string"},"cefrLevel":{"type":"string"},"persona":{"type":"string"},"responseSchema":{"type":"string"},"sessionMode":{"type":"string"},"status":{"type":"string"},"startedAt":{"type":"string","format":"date-time"},"lastActivityAt":{"type":"string","format":"date-time"},"endedAt":{"type":"string","format":"date-time"},"messageCount":{"type":"integer","format":"int32"},"initialAiMessage":{"$ref":"#/components/schemas/AiSpeakingChatResponse"},"interviewPosition":{"type":"string"},"experienceLevel":{"type":"string"},"interviewReportJson":{"type":"string"}}},"ErrorItemDto":{"type":"object","properties":{"errorCode":{"type":"string"},"severity":{"type":"string"},"confidence":{"type":"number","format":"double"},"wrongSpan":{"type":"string"},"correctedSpan":{"type":"string"},"ruleViShort":{"type":"string"},"exampleCorrectDe":{"type":"string"}}},"LearningStatus":{"type":"object","properties":{"newWord":{"type":"string"},"userInterestDetected":{"type":"string"}}},"SuggestionDto":{"type":"object","properties":{"germanText":{"type":"string"},"vietnameseTranslation":{"type":"string"},"level":{"type":"string"},"whyToUse":{"type":"string"},"usageContext":{"type":"string"},"legoStructure":{"type":"string"}}},"AiSpeakingChatRequest":{"required":["userMessage"],"type":"object","properties":{"userMessage":{"maxLength":5000,"minLength":0,"type":"string"},"streamAudio":{"type":"boolean"}}},"SseEmitter":{"type":"object","properties":{"timeout":{"type":"integer","format":"int64"}}},"CreateGreetingSessionRequest":{"type":"object","properties":{"templateId":{"type":"integer","format":"int64"},"difficultyLevel":{"type":"integer","format":"int32"}}},"GreetingSessionDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"userId":{"type":"integer","format":"int64"},"templateId":{"type":"integer","format":"int64"},"difficultyLevel":{"type":"integer","format":"int32"},"aiPrompt":{"type":"string"},"aiResponse":{"type":"string"},"userInput":{"type":"string"},"feedback":{"type":"string"},"userConfidenceScore":{"type":"integer","format":"int32"},"sessionStatus":{"type":"string"},"createdAt":{"type":"string","format":"date-time"}}},"SubmitResponseRequest":{"type":"object","properties":{"userInput":{"type":"string"},"confidence":{"type":"integer","format":"int32"}}},"AbilityScoreRequest":{"required":["items","timeSeconds"],"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Item"}},"timeSeconds":{"minimum":1,"type":"number","format":"double"}}},"Item":{"required":["q","w"],"type":"object","properties":{"q":{"type":"number","format":"double"},"w":{"type":"number","format":"double"}}},"AbilityScoreResponse":{"type":"object","properties":{"s":{"type":"number","format":"double"}}},"UpdateProfileRequest":{"type":"object","properties":{"displayName":{"maxLength":100,"minLength":2,"type":"string"},"phoneNumber":{"pattern":"^(\\+84|0)[0-9]{8,9}$","type":"string"},"locale":{"pattern":"^(vi|en|de)$","type":"string"}}},"ChangePasswordRequest":{"required":["currentPassword","newPassword"],"type":"object","properties":{"currentPassword":{"type":"string"},"newPassword":{"maxLength":2147483647,"minLength":6,"type":"string"}}},"UpdateLearningProfileRequest":{"type":"object","properties":{"goalType":{"pattern":"^(WORK|CERT)$","type":"string"},"targetLevel":{"pattern":"^(A1|A2|B1|B2|C1|C2)$","type":"string"},"industry":{"type":"string"},"interests":{"type":"array","items":{"type":"string"}},"learningSpeed":{"pattern":"^(SLOW|NORMAL|FAST)$","type":"string"},"sessionsPerWeek":{"maximum":14,"minimum":1,"type":"integer","format":"int32"},"minutesPerSession":{"maximum":180,"minimum":5,"type":"integer","format":"int32"}}},"LearningProfileResponse":{"type":"object","properties":{"goalType":{"type":"string"},"targetLevel":{"type":"string"},"currentLevel":{"type":"string"},"industry":{"type":"string"},"interests":{"type":"array","items":{"type":"string"}},"learningSpeed":{"type":"string"},"sessionsPerWeek":{"type":"integer","format":"int32"},"minutesPerSession":{"type":"integer","format":"int32"},"examType":{"type":"string"},"ageRange":{"type":"string"},"assignedPersonaCode":{"type":"string"},"levelSource":{"type":"string"},"onboardingType":{"type":"string"},"upsellOptInAt":{"type":"string"},"motivation":{"type":"string"},"dailyGoalMinutes":{"type":"integer","format":"int32"}}},"UpdateLocaleRequest":{"type":"object","properties":{"locale":{"pattern":"vi|en|de","type":"string"}}},"AchievementDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"code":{"type":"string"},"nameVi":{"type":"string"},"descriptionVi":{"type":"string"},"iconEmoji":{"type":"string"},"xpReward":{"type":"integer","format":"int32"},"rarity":{"type":"string"},"unlocked":{"type":"boolean"}}},"XpSummaryDto":{"type":"object","properties":{"userId":{"type":"integer","format":"int64"},"totalXp":{"type":"integer","format":"int32"},"level":{"type":"integer","format":"int32"},"progressInLevel":{"type":"integer","format":"int32"},"xpNeededForNext":{"type":"integer","format":"int32"},"allAchievements":{"type":"array","items":{"$ref":"#/components/schemas/AchievementDto"}},"pendingBadges":{"type":"array","items":{"$ref":"#/components/schemas/AchievementDto"}}}},"LeaderboardDto":{"type":"object","properties":{"rank":{"type":"integer","format":"int32"},"userId":{"type":"integer","format":"int64"},"displayName":{"type":"string"},"totalXp":{"type":"integer","format":"int64"},"level":{"type":"integer","format":"int32"}}},"WordAdjectiveDetails":{"type":"object","properties":{"comparative":{"type":"string"},"superlative":{"type":"string"},"isIrregular":{"type":"boolean"}}},"WordListItem":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"dtype":{"type":"string"},"baseForm":{"type":"string"},"cefrLevel":{"type":"string"},"phonetic":{"type":"string"},"meaning":{"type":"string"},"meaningEn":{"type":"string"},"example":{"type":"string"},"exampleDe":{"type":"string"},"exampleEn":{"type":"string"},"usageNote":{"type":"string"},"gender":{"type":"string"},"article":{"type":"string"},"genderColor":{"type":"string"},"tags":{"type":"array","items":{"type":"string"}},"nounDetails":{"$ref":"#/components/schemas/WordNounDetails"},"verbDetails":{"$ref":"#/components/schemas/WordVerbDetails"},"adjectiveDetails":{"$ref":"#/components/schemas/WordAdjectiveDetails"},"imageUrl":{"type":"string"}}},"WordListResponse":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/WordListItem"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"total":{"type":"integer","format":"int64"}}},"WordNounDeclensionItem":{"type":"object","properties":{"kasus":{"type":"string"},"numerus":{"type":"string"},"form":{"type":"string"}}},"WordNounDetails":{"type":"object","properties":{"pluralForm":{"type":"string"},"genitiveForm":{"type":"string"},"nounType":{"type":"string"},"declensions":{"type":"array","items":{"$ref":"#/components/schemas/WordNounDeclensionItem"}}}},"WordVerbConjugationItem":{"type":"object","properties":{"tense":{"type":"string"},"pronoun":{"type":"string"},"form":{"type":"string"}}},"WordVerbDetails":{"type":"object","properties":{"auxiliaryVerb":{"type":"string"},"partizip2":{"type":"string"},"isSeparable":{"type":"boolean"},"prefix":{"type":"string"},"isIrregular":{"type":"boolean"},"conjugations":{"type":"array","items":{"$ref":"#/components/schemas/WordVerbConjugationItem"}}}},"WordCoverageResponse":{"type":"object","properties":{"date":{"type":"string","format":"date"},"totalWords":{"type":"integer","format":"int64"},"nounWords":{"type":"integer","format":"int64"},"nounRows":{"type":"integer","format":"int64"},"nounWithGender":{"type":"integer","format":"int64"},"nounDer":{"type":"integer","format":"int64"},"nounDie":{"type":"integer","format":"int64"},"nounDas":{"type":"integer","format":"int64"},"nounCoveragePercent":{"type":"number","format":"double"},"verbWords":{"type":"integer","format":"int64"},"verbRows":{"type":"integer","format":"int64"},"verbCoveragePercent":{"type":"number","format":"double"}}},"WordTranslationCoverageResponse":{"type":"object","properties":{"date":{"type":"string","format":"date"},"totalWords":{"type":"integer","format":"int64"},"wordsWithDe":{"type":"integer","format":"int64"},"wordsWithVi":{"type":"integer","format":"int64"},"wordsWithEn":{"type":"integer","format":"int64"},"wordsWithAllLocales":{"type":"integer","format":"int64"},"deCoveragePercent":{"type":"number","format":"double"},"viCoveragePercent":{"type":"number","format":"double"},"enCoveragePercent":{"type":"number","format":"double"},"allLocalesCoveragePercent":{"type":"number","format":"double"}}},"WordTranslationCoverageHistoryResponse":{"type":"object","properties":{"days":{"type":"integer","format":"int32"},"items":{"type":"array","items":{"$ref":"#/components/schemas/WordTranslationCoverageResponse"}}}},"WordCoverageHistoryResponse":{"type":"object","properties":{"days":{"type":"integer","format":"int32"},"items":{"type":"array","items":{"$ref":"#/components/schemas/WordCoverageResponse"}}}},"WordDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"word":{"type":"string"},"translation":{"type":"string"},"wordType":{"type":"string"},"gender":{"type":"string"},"cefrLevel":{"type":"string"},"pronunciationIpa":{"type":"string"},"exampleSentence":{"type":"string"},"frequencyRank":{"type":"integer","format":"int32"},"imageUrl":{"type":"string"},"audioUrl":{"type":"string"}}},"Example":{"type":"object","properties":{"german":{"type":"string"},"english":{"type":"string"}}},"GrammarContextDto":{"type":"object","properties":{"word":{"type":"string"},"partOfSpeech":{"type":"string"},"grammar":{"$ref":"#/components/schemas/GrammarInfo"},"examples":{"type":"array","items":{"$ref":"#/components/schemas/Example"}},"relatedWords":{"type":"array","items":{"type":"string"}}}},"GrammarInfo":{"type":"object","properties":{"caseInfo":{"type":"string"},"genderInfo":{"type":"string"},"tensInfo":{"type":"string"},"conjugationPattern":{"type":"string"}}},"DueRepairTaskDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"errorCode":{"type":"string"},"taskType":{"type":"string"},"dueAt":{"type":"string","format":"date-time"},"intervalDays":{"type":"integer","format":"int32"}}},"TodayPlanDto":{"type":"object","properties":{"dueRepairTasks":{"type":"array","items":{"$ref":"#/components/schemas/DueRepairTaskDto"}},"recommendedSpeaking":{"$ref":"#/components/schemas/TodayRecommendedDto"},"recommendedWeeklySpeaking":{"$ref":"#/components/schemas/TodayRecommendedDto"},"recommendedVocabPractice":{"$ref":"#/components/schemas/TodayRecommendedDto"}}},"TodayRecommendedDto":{"type":"object","properties":{"href":{"type":"string"},"topic":{"type":"string"},"cefrLevel":{"type":"string"},"focusOrStructures":{"type":"array","items":{"type":"string"}}}},"TagItem":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"color":{"type":"string"},"localizedLabel":{"type":"string"}}},"StudentStatsResponse":{"type":"object","properties":{"streakDays":{"type":"integer","format":"int32"},"totalXp":{"type":"integer","format":"int64"},"xpLevel":{"type":"integer","format":"int32"},"wordsLearned":{"type":"integer","format":"int32"},"speakingMinutes":{"type":"integer","format":"int32"},"grammarAccuracy":{"type":"integer","format":"int32"},"weeklyProgress":{"type":"array","items":{"type":"integer","format":"int32"}}}},"StudentDashboardResponse":{"type":"object","properties":{"streakDays":{"type":"integer","format":"int32"},"weeklyXp":{"type":"integer","format":"int32"},"completedSessionsTotal":{"type":"integer","format":"int64"},"completedSessionsThisWeek":{"type":"integer","format":"int32"},"weeklyMinutesByDay":{"type":"array","items":{"type":"integer","format":"int32"}},"weeklyMinutesStudied":{"type":"integer","format":"int32"},"avgMinutesPerDayThisWeek":{"type":"integer","format":"int32"},"planProgressPercent":{"type":"integer","format":"int32"},"sessionsPerWeek":{"type":"integer","format":"int32"},"minutesPerSession":{"type":"integer","format":"int32"},"weeklyTargetMinutes":{"type":"integer","format":"int32"},"weeksTotal":{"type":"integer","format":"int32"},"totalSessionsInPlan":{"type":"integer","format":"int32"}}},"SrsStatsDto":{"type":"object","properties":{"dueCount":{"type":"integer","format":"int64"},"totalCards":{"type":"integer","format":"int64"}}},"SrsDueCountDto":{"type":"object","properties":{"dueCount":{"type":"integer","format":"int64"}}},"BeginnerSpeakingResponse":{"type":"object","properties":{"templateId":{"type":"integer","format":"int64"},"templateName":{"type":"string"},"userPrompt":{"type":"string"},"systemPrompt":{"type":"string"},"encouragement":{"type":"string"},"sampleResponses":{"type":"array","items":{"type":"string"}}}},"TreeNodeLessonDto":{"type":"object","properties":{"id":{"type":"string"},"title":{"type":"string"},"skill":{"type":"string"},"topic":{"type":"string"},"topicLabel":{"type":"string"},"group":{"type":"string"},"contentKey":{"type":"string"}}},"RoadmapNodeDto":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"code":{"type":"string"},"title":{"type":"string"},"subtitle":{"type":"string"},"emoji":{"type":"string"},"state":{"type":"string"},"xpReward":{"type":"integer","format":"int32"},"lessonsTotal":{"type":"integer","format":"int32"},"lessonsCompleted":{"type":"integer","format":"int32"},"category":{"type":"string"},"description":{"type":"string"},"cefrLevel":{"type":"string"},"prerequisiteCode":{"type":"string"},"orderIndex":{"type":"integer","format":"int32"}}},"ProgressOverviewDto":{"type":"object","properties":{"cefrLevel":{"type":"string"},"skills":{"$ref":"#/components/schemas/Skills"},"grammarMastery":{"type":"number","format":"double"},"vocabCoverage":{"type":"number","format":"double"},"mockExamBestScore":{"type":"integer","format":"int32"},"examReady":{"type":"boolean"},"weeklyProgress":{"type":"array","items":{"$ref":"#/components/schemas/WeeklyProgressPoint"}}}},"SkillScore":{"type":"object","properties":{"score":{"type":"integer","format":"int32"},"exercisesDone":{"type":"integer","format":"int32"}}},"Skills":{"type":"object","properties":{"lesen":{"$ref":"#/components/schemas/SkillScore"},"hoeren":{"$ref":"#/components/schemas/SkillScore"},"schreiben":{"$ref":"#/components/schemas/SkillScore"},"sprechen":{"$ref":"#/components/schemas/SkillScore"}}},"WeeklyProgressPoint":{"type":"object"},"NextActionResponse":{"type":"object","properties":{"currentPhase":{"type":"string"},"nextActions":{"type":"array","items":{"type":"string"}}}},"PhaseStateResponse":{"type":"object","properties":{"currentPhase":{"type":"string"},"phaseStartedAt":{"type":"string","format":"date-time"},"vocabularyMasteredCount":{"type":"integer","format":"int32"},"speakingMinutesTotal":{"type":"integer","format":"int32"},"grammarAccuracyPercent":{"type":"integer","format":"int32"},"sessionsCompleted":{"type":"integer","format":"int32"},"readyToAdvance":{"type":"boolean"},"graduatedAt":{"type":"string","format":"date-time"}}},"AppleProductResponse":{"type":"object","properties":{"productId":{"type":"string"},"planCode":{"type":"string"},"durationMonths":{"type":"integer","format":"int32"}}},"AppleAccountTokenResponse":{"type":"object","properties":{"appAccountToken":{"type":"string"}}},"StatusResponse":{"type":"object","properties":{"hasPlan":{"type":"boolean"}}},"OnboardingRouteResponse":{"type":"object","properties":{"onboardingType":{"type":"string"},"placementRequired":{"type":"boolean"},"placementOptional":{"type":"boolean"},"assessmentHookAfter":{"type":"boolean"},"paywallAllowed":{"type":"boolean"},"postAction":{"type":"string"}}},"OnboardingMentorResponse":{"type":"object","properties":{"code":{"type":"string"},"displayName":{"type":"string"},"difficulty":{"type":"string"},"upsellCode":{"type":"string"},"upsellDisplayName":{"type":"string"}}},"SprechenCard":{"type":"object","properties":{"thema":{"type":"string"},"wort":{"type":"string"}}},"NotificationItemResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"type":{"type":"string","enum":["USER_REGISTERED","LEARNER_PLAN_UPDATED","ADMIN_LEARNER_PLAN_CHANGED","ADMIN_LEARNER_SUBSCRIBED","ACHIEVEMENT_UNLOCKED","LEVEL_UP","REVIEW_DUE","STREAK_REMINDER","NEW_ASSIGNMENT","JOIN_REQUEST_APPROVED","JOIN_REQUEST_REJECTED","ADDED_TO_CLASS","ASSIGNMENT_GRADED","NEW_CLASS_ASSIGNMENT","CLASS_STUDENT_ADDED","CLASS_STUDENT_REMOVED","CLASS_JOIN_REQUEST_CREATED","QUIZ_SUBMISSION_RECEIVED","ADMIN_BROADCAST","TEACHER_ANNOUNCEMENT"]},"payload":{"type":"object","additionalProperties":{"type":"object"}},"read":{"type":"boolean"},"createdAtUtc":{"type":"string","format":"date-time"}}},"NotificationPageResponse":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/NotificationItemResponse"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"}}},"NotificationUnreadCountResponse":{"type":"object","properties":{"unreadCount":{"type":"integer","format":"int64"}}},"ExamSummaryDto":{"type":"object","properties":{"cefr_level":{"type":"string"},"exam_format":{"type":"string"},"description_vi":{"type":"string"},"total_points":{"type":"integer","format":"int32"},"pass_points":{"type":"integer","format":"int32"},"time_limit_minutes":{"type":"integer","format":"int32"},"id":{"type":"integer","format":"int64"},"title":{"type":"string"}}},"ExamQuestionsDto":{"type":"object","properties":{"sections_json":{"type":"string"}}},"ExamRecommendationDto":{"type":"object","properties":{"recommendedExamId":{"type":"integer","format":"int64"},"cefrLevel":{"type":"string"},"examStats":{"type":"array","items":{"$ref":"#/components/schemas/ExamStatDto"}}}},"ExamStatDto":{"type":"object","properties":{"exam_id":{"type":"integer","format":"int64"},"total_attempts":{"type":"integer","format":"int64"},"completed_attempts":{"type":"integer","format":"int64"},"best_score":{"type":"integer","format":"int32"},"last_attempted_at":{"type":"string","format":"date-time"},"title":{"type":"string"}}},"MockExamPackDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"title":{"type":"string"},"descriptionVi":{"type":"string"},"cefrLevel":{"type":"string"},"examFormat":{"type":"string"},"examCount":{"type":"integer","format":"int32"},"requiresPaid":{"type":"boolean"},"locked":{"type":"boolean"}}},"MockExamPackDetailDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"title":{"type":"string"},"descriptionVi":{"type":"string"},"cefrLevel":{"type":"string"},"examFormat":{"type":"string"},"exams":{"type":"array","items":{"$ref":"#/components/schemas/PackExamDto"}}}},"PackExamDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"title":{"type":"string"},"totalPoints":{"type":"integer","format":"int32"},"passPoints":{"type":"integer","format":"int32"},"timeLimitMinutes":{"type":"integer","format":"int32"}}},"Exam":{"type":"object","properties":{"is_active":{"type":"boolean"},"attempt_count":{"type":"integer","format":"int64"},"id":{"type":"integer","format":"int64"},"title":{"type":"string"}}},"ExamCoverageDto":{"type":"object","properties":{"cefrLevel":{"type":"string"},"totalExams":{"type":"integer","format":"int32"},"exams":{"type":"array","items":{"$ref":"#/components/schemas/Exam"}}}},"ExamReviewDto":{"type":"object","properties":{"attemptId":{"type":"integer","format":"int64"},"totalScore":{"type":"integer","format":"int32"},"sections":{"type":"array","items":{"$ref":"#/components/schemas/Section"}}}},"Section":{"type":"object","properties":{"sectionName":{"type":"string"},"items":{"type":"array","items":{"$ref":"#/components/schemas/Item"}}}},"ExamResultDto":{"type":"object","properties":{"exam_id":{"type":"integer","format":"int64"},"started_at":{"type":"string","format":"date-time"},"finished_at":{"type":"string","format":"date-time"},"total_score":{"type":"integer","format":"int32"},"detailed_scores_json":{"type":"string"},"weak_areas":{"type":"string"},"id":{"type":"integer","format":"int64"},"title":{"type":"string"},"passed":{"type":"boolean"},"status":{"type":"string"}}},"ExamAttemptDto":{"type":"object","properties":{"exam_id":{"type":"integer","format":"int64"},"exam_title":{"type":"string"},"started_at":{"type":"string","format":"date-time"},"finished_at":{"type":"string","format":"date-time"},"total_score":{"type":"integer","format":"int32"},"detailed_scores_json":{"type":"string"},"weak_areas":{"type":"string"},"id":{"type":"integer","format":"int64"},"passed":{"type":"boolean"},"status":{"type":"string"}}},"GrammarTopicDto":{"type":"object","properties":{"cefr_level":{"type":"string"},"topic_code":{"type":"string"},"title_de":{"type":"string"},"title_vi":{"type":"string"},"title_en":{"type":"string"},"description_vi":{"type":"string"},"sort_order":{"type":"integer","format":"int32"},"exercises_done":{"type":"integer","format":"int32"},"exercises_correct":{"type":"integer","format":"int32"},"mastery_percent":{"type":"number","format":"float"},"last_practiced_at":{"type":"string","format":"date-time"},"total_exercises":{"type":"integer","format":"int64"},"id":{"type":"integer","format":"int64"}}},"GrammarExerciseDto":{"type":"object","properties":{"exercise_type":{"type":"string"},"question_json":{"type":"string"},"id":{"type":"integer","format":"int64"},"difficulty":{"type":"integer","format":"int32"}}},"GrammarDraftDto":{"type":"object","properties":{"topic_id":{"type":"integer","format":"int64"},"topic_title":{"type":"string"},"exercise_type":{"type":"string"},"question_json":{"type":"string"},"reject_reason":{"type":"string"},"created_at":{"type":"string","format":"date-time"},"id":{"type":"integer","format":"int64"},"difficulty":{"type":"integer","format":"int32"},"status":{"type":"string"}}},"GrammarPendingReviewDto":{"type":"object","properties":{"topic_id":{"type":"integer","format":"int64"},"topic_title":{"type":"string"},"cefr_level":{"type":"string"},"exercise_type":{"type":"string"},"question_json":{"type":"string"},"ai_generated":{"type":"boolean"},"created_by":{"type":"integer","format":"int64"},"created_at":{"type":"string","format":"date-time"},"id":{"type":"integer","format":"int64"},"difficulty":{"type":"integer","format":"int32"},"status":{"type":"string"}}},"CurriculumCourse":{"type":"object","properties":{"courseId":{"type":"string"},"provider":{"type":"string"},"source":{"type":"object","additionalProperties":{"type":"object"}},"level":{"type":"string"},"version":{"type":"string"},"units":{"type":"array","items":{"$ref":"#/components/schemas/CurriculumUnit"}},"taxonomies":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}},"grammarInventory":{"type":"array","items":{"type":"string"}}}},"CurriculumUnit":{"type":"object","properties":{"unitId":{"type":"string"},"order":{"type":"integer","format":"int32"},"title":{"type":"string"},"isReviewUnit":{"type":"boolean"},"reviewOfUnits":{"type":"array","items":{"type":"string"}},"canDo":{"type":"array","items":{"type":"string"}},"skillTargets":{"type":"array","items":{"type":"string"}},"grammarPoints":{"type":"array","items":{"type":"string"}},"vocabTopics":{"type":"array","items":{"type":"string"}},"checkpoints":{"type":"array","items":{"type":"string"}},"sessions":{"type":"array","items":{"type":"object"}}}},"CertificateDto":{"type":"object","properties":{"cefr_level":{"type":"string"},"issued_at":{"type":"string","format":"date-time"},"exam_score":{"type":"integer","format":"int32"},"certificate_code":{"type":"string"},"is_active":{"type":"boolean"},"id":{"type":"integer","format":"int64"}}},"MyPlanResponse":{"type":"object","properties":{"planCode":{"type":"string"},"tier":{"type":"string"},"startsAtUtc":{"type":"string","format":"date-time"},"endsAtUtc":{"type":"string","format":"date-time"}}},"Pageable":{"type":"object","properties":{"page":{"minimum":0,"type":"integer","format":"int32"},"size":{"minimum":1,"type":"integer","format":"int32"},"sort":{"type":"array","items":{"type":"string"}}}},"PageWeeklySubmissionListItem":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"first":{"type":"boolean"},"last":{"type":"boolean"},"numberOfElements":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/WeeklySubmissionListItem"}},"number":{"type":"integer","format":"int32"},"sort":{"type":"array","items":{"$ref":"#/components/schemas/SortObject"}},"empty":{"type":"boolean"}}},"PageableObject":{"type":"object","properties":{"pageNumber":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"paged":{"type":"boolean"},"unpaged":{"type":"boolean"},"offset":{"type":"integer","format":"int64"},"sort":{"type":"array","items":{"$ref":"#/components/schemas/SortObject"}}}},"SortObject":{"type":"object","properties":{"direction":{"type":"string"},"nullHandling":{"type":"string"},"ascending":{"type":"boolean"},"property":{"type":"string"},"ignoreCase":{"type":"boolean"}}},"WeeklySubmissionListItem":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"promptId":{"type":"integer","format":"int64"},"weekStartDate":{"type":"string","format":"date"},"promptTitle":{"type":"string"},"cefrBand":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"taskScoreOrNull":{"type":"integer","format":"int32"},"feedbackViSummaryPreviewOrNull":{"type":"string"}}},"WeeklySubmissionDetailDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"promptId":{"type":"integer","format":"int64"},"weekStartDate":{"type":"string","format":"date"},"promptTitle":{"type":"string"},"promptDe":{"type":"string"},"cefrBand":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"transcript":{"type":"string"},"rubricOrNull":{"$ref":"#/components/schemas/WeeklyRubricView"},"rubricPayloadRawOrNull":{"type":"string"}}},"WeeklyPromptResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"weekStartDate":{"type":"string","format":"date"},"cefrBand":{"type":"string"},"title":{"type":"string"},"promptDe":{"type":"string"},"mandatoryPoints":{"type":"array","items":{"type":"string"}},"optionalPoints":{"type":"array","items":{"type":"string"}},"promptVersion":{"type":"string"}}},"PageAiSpeakingSessionDto":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"first":{"type":"boolean"},"last":{"type":"boolean"},"numberOfElements":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/AiSpeakingSessionDto"}},"number":{"type":"integer","format":"int32"},"sort":{"type":"array","items":{"$ref":"#/components/schemas/SortObject"}},"empty":{"type":"boolean"}}},"ConversationReportDto":{"type":"object","properties":{"sessionId":{"type":"integer","format":"int64"},"topic":{"type":"string"},"levelEstimate":{"type":"string"},"overallScore":{"type":"number","format":"double"},"summary":{"type":"string"},"strengths":{"type":"array","items":{"type":"string"}},"improvements":{"type":"array","items":{"type":"string"}},"grammarAccuracy":{"type":"string"},"commonErrors":{"type":"array","items":{"type":"string"}},"vocabulary":{"type":"string"},"fluency":{"type":"string"},"recommendedNext":{"type":"array","items":{"type":"string"}},"encouragement":{"type":"string"}}},"AiSpeakingMessageDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"role":{"type":"string"},"userText":{"type":"string"},"aiSpeechDe":{"type":"string"},"correction":{"type":"string"},"explanationVi":{"type":"string"},"grammarPoint":{"type":"string"},"newWord":{"type":"string"},"userInterestDetected":{"type":"string"},"assistantAction":{"type":"string"},"assistantFeedback":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ErrorItemDto"}}}},"AiSpeakingQuotaDto":{"type":"object","properties":{"canStartSession":{"type":"boolean"},"remainingSpendable":{"type":"integer","format":"int64"},"planCode":{"type":"string"}}}},"securitySchemes":{"bearerAuth":{"type":"http","description":"JWT access token. Send as: Authorization: Bearer <token>","scheme":"bearer","bearerFormat":"JWT"}}}}